.modal-header{
    background: dimgray;
    color: #fff;
    opacity: 80%;
}
.w-50{
    width: 30% !important;
    position: absolute !important;
    top: 120px !important;
    border: 2px solid cadetblue !important;
    border-radius: 10px !important;
    left: 35%;

}